<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.macbookpro.givvapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/givv_black"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.employer.EmployerMainActivity" />
        <activity android:name=".controller.employee.EmployeeMainActivity" />
        <activity android:name=".controller.admin.AdminMainActivity" />
        <activity android:name=".controller.LoginActivity" />
        <activity android:name=".controller.SignupActivity"></activity>
    </application>

</manifest>